.root {
	-fx-text-fill: #E0E0E0;
	-fx-background-color: #424242; 
}

.label {
	-fx-text-fill: #E0E0E0;
}

.split-pane {
	-fx-background-color: #363636;
}

.button {
	-fx-text-fill: #E0E0E0;
	-fx-background-color: #212121; 	
}

.button:hover {
	-fx-background-color: #272727;
}

.check-box {
	-fx-text-fill: #E0E0E0;
}

.combo-box {
	-fx-background-color: #212121;
}

.combo-box:hover {
	-fx-background-color: #272727;
}

.combo-box .list-cell {
	-fx-text-fill: #E0E0E0;
	-fx-background-color: #212121; 	
}

.combo-box .list-cell:hover {
	-fx-background-color: #272727;
}

.text-field {
	-fx-text-fill: #E0E0E0;
	-fx-background-color: #212121; 	
} 


.slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark {
	/*-fx-background-color: #616161;*/
	/*-fx-background-color: #363636; */
	-fx-stroke: #E0E0E0;
	-fx-fill: #E0E0E0;	
}

.slider .axis {
	-fx-tick-label-fill: #E0E0E0;
}

.tool-bar {
	-fx-padding: 1;
	-fx-border-color: #424242;
	-fx-background-color: #101010;
}

.tool-bar .seperator *.line {
	-fx-border-style: solid;
	-fx-border-width: 0px;
	-fx-background-color: #E0E0E0;
}

.list-view {
	-fx-background-color: #363636;
}

.menu-bar {
	-fx-background-color: #212121;
}

.menu-button:hover {
	-fx-background-color: #272727;
}

.context-menu {
	-fx-background-color: #212121;
}

.menu-item {
	-fx-background-fills: #212121;
	-fx-border-color: #212121;
	-fx-background-color: #212121;
}

.menu-item:hover {
	-fx-background-color: #272727;
}

.separator *.line {
	-fx-border-color: #212121;
}